<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdminExportViewer.Properties.Settings.manage_rent_bikeConnectionString"
            connectionString="Data Source=(local);Initial Catalog=manage-rent-bike;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>